@import 'components/variables-color';

@import 'components/estilos-compartidos';
@import 'components/navegacion';
@import 'components/slider';
@import 'components/seccion-carreras';
@import 'components/cinta-menu';
@import 'components/seccion-adminsion';
@import 'components/seccion-cuerpo';
@import 'components/seccion-noticia';
@import 'components/seccion-comunicados';
@import 'components/seccion-formularios';
@import 'components/redes-social';
@import 'components/seccion-avisos';
@import 'components/seccion-footer';

@import 'components/escuelas/estilos-generales';

@import 'components/pagina-temario';

@import 'components/loader';
@import 'components/complementos';

