.color-primario {
  background-color: rgba(5, 31, 66, 0.801);
  color: white;
}
.color-primario:hover {
  background-color: #ca8a08;
}

.color-secundario {
  background-color: #ca8a08;
  color: white;
}
.color-secundario:hover {
  background-color: rgba(5, 31, 66, 0.801);
}

.header-navegacion {
  position: sticky;
  top: 0px;
  z-index: 3000;
  background-color: rgba(237, 238, 238, 0.965);
  -webkit-box-shadow: 0px 3px 5px 3px rgba(5, 31, 66, 0.801);
  -moz-box-shadow: 0px 3px 5px 3px rgba(5, 31, 66, 0.801);
  box-shadow: 0px 3px 5px 3px rgba(5, 31, 66, 0.801);
}
.header-navegacion .fondo-linea {
  background-color: rgba(5, 31, 66, 0.925);
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100.2%;
  z-index: -100;
  clip-path: polygon(30% 20%, 100% 0%, 100% 100%, 20% 100%);
}
.header-navegacion .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
}
@media all and (max-width: 500px) {
  .header-navegacion .container {
    padding: 0px 0px;
  }
}
.header-navegacion .container .logo {
  display: block;
  width: 200px;
}
.header-navegacion .container .logo img {
  width: 100%;
}
.header-navegacion .container .menu-bar {
  display: none;
  color: rgba(237, 238, 238, 0.965);
  margin-right: 10px;
}
@media all and (max-width: 500px) {
  .header-navegacion .container .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-navegacion .container .navegacion {
  display: flex;
  align-items: center;
}
@media all and (max-width: 500px) {
  .header-navegacion .container .navegacion {
    background-color: rgba(237, 238, 238, 0.698);
    display: none;
    position: relative;
    width: 100%;
    z-index: 1000;
  }
  .header-navegacion .container .navegacion .ul-menu {
    background-color: rgba(237, 238, 238, 0.698);
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
  }
  .header-navegacion .container .navegacion .ul-menu .li-menu {
    display: block;
    min-width: 100%;
  }
  .header-navegacion .container .navegacion .ul-menu .li-menu .a-menu {
    display: block;
    min-width: 100%;
  }
}
.header-navegacion .container .navegacion .ul-menu {
  margin: 0px;
  padding: 0px;
}
.header-navegacion .container .navegacion .ul-menu .li-menu {
  list-style: none;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .a-menu {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 8px;
  margin: 0px 0px 0px 0px;
  background-color: #0e315f;
  font-size: 12px;
  border: 1px solid rgba(237, 238, 238, 0.472);
  border-radius: 4px;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .a-menu:hover {
  background-color: rgba(5, 31, 66, 0.925);
  border: 1px solid rgba(237, 238, 238, 0.698);
}
.header-navegacion .container .navegacion .ul-menu .li-menu .subm-t0 {
  max-width: 100%;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .subm-t1 {
  max-width: 200px;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .subm-t2 {
  max-width: 150px;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .subm-t3 {
  max-width: 120;
  right: 0px;
}
.header-navegacion .container .navegacion .ul-menu .li-menu:hover > .sub-menu {
  display: block;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .sub-menu {
  position: absolute;
  background-color: rgba(237, 238, 238, 0.698);
  display: none;
  padding: 0px;
  width: 200px;
  z-index: 1000;
}
@media all and (max-width: 500px) {
  .header-navegacion .container .navegacion .ul-menu .li-menu .sub-menu {
    min-width: 100%;
    position: relative;
  }
}
.header-navegacion .container .navegacion .ul-menu .li-menu .sub-menu li {
  background-color: #ca8a08;
  list-style: none;
}
.header-navegacion .container .navegacion .ul-menu .li-menu .sub-menu li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  margin-bottom: 1.2px;
  color: white;
  background-color: #051f42;
  font-size: 13px;
}
@media all and (max-width: 500px) {
  .header-navegacion .container .navegacion .ul-menu .li-menu .sub-menu li a {
    background-color: rgba(5, 31, 66, 0.801);
  }
}
.header-navegacion .container .navegacion .ul-menu .li-menu .sub-menu li a:hover {
  background-color: rgba(5, 31, 66, 0.925);
}
@media all and (max-width: 500px) {
  .header-navegacion .logo {
    width: 70%;
  }
  .header-navegacion .logo img {
    width: 100%;
  }
}

.slider {
  height: 80vh;
  width: 100%;
  background-color: rgba(19, 8, 1, 0.048);
  overflow: hidden;
  display: block;
  position: relative;
}
@media all and (max-width: 500px) {
  .slider {
    height: 60vh;
    transform: translateY(0px);
  }
}
.slider .sle {
  height: 100%;
}
.slider img {
  max-height: 80vh;
  min-width: 100vw;
}
.slider .texto-slider {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  top: 0px;
  background-color: rgba(54, 36, 1, 0.404);
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 500px) {
  .slider .texto-slider {
    /*
    // para centrar el texto en modo resposivo
    Este valor viene dado por el vh del slider en modo responsive
    */
    height: 60vh;
  }
}

.seccion-carreras {
  background-color: whitesmoke;
}
@media all and (max-width: 500px) {
  .seccion-carreras {
    display: block;
  }
}
.seccion-carreras .sle-carrera {
  position: relative;
  overflow: hidden;
}
.seccion-carreras .sle-carrera .img-a {
  width: 170px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-carreras .sle-carrera .img-a img {
  width: 60%;
  transition: all 0.5s;
}
.seccion-carreras .sle-carrera .img-a:hover .img-ani1 {
  transform: rotateZ(360deg);
}
.seccion-carreras .sle-carrera .img-a:hover .img-ani2 {
  transform: rotateX(360deg);
}
.seccion-carreras .sle-carrera .img-a:hover .img-ani3 {
  transform: rotateY(360deg);
}

.cinta-menu {
  width: 100%;
  background-color: rgba(5, 31, 66, 0.801);
}
.cinta-menu .icono-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.seccion-admision {
  background-image: url(../img/slider/pabellon-comedor.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.seccion-admision .container {
  position: relative;
  z-index: 5;
}
.seccion-admision .container a {
  text-decoration: none;
  border: none;
  border-radius: 50px;
  display: block;
  text-align: center;
  color: white;
}
@media all and (max-width: 500px) {
  .seccion-admision .container a {
    border-radius: 10px;
  }
}
.seccion-admision .container .seccion-1 {
  position: relative;
  height: 30vh;
  padding-top: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.seccion-admision .container .seccion-1 a {
  background-color: saddlebrown;
  font-size: 1.3rem;
  padding: 0% 5%;
  height: 20vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 500px) {
  .seccion-admision .container .seccion-1 a {
    width: 100%;
  }
}
.seccion-admision .container .seccion-2 {
  height: 30vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.seccion-admision .container .seccion-2 a {
  background-color: salmon;
  font-size: 1.3rem;
  padding: 0% 5%;
  height: 20vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 500px) {
  .seccion-admision .container .seccion-2 {
    align-items: center;
  }
  .seccion-admision .container .seccion-2 a {
    width: 100%;
  }
}
.seccion-admision .container .seccion-3 {
  height: 30vh;
  overflow: hidden;
}
.seccion-admision .container .seccion-3 div {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.seccion-admision .container .seccion-3 div a {
  background-color: seagreen;
  font-size: 1.3rem;
  padding: 0% 5%;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 500px) {
  .seccion-admision .container .seccion-3 div {
    align-items: center;
    margin: 0px;
    padding: 0px 2px;
  }
}
.seccion-admision .opaco-admision {
  background-color: rgba(202, 137, 8, 0.356);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 0;
}

.cuerpo-pagina {
  display: block;
  position: relative;
  height: auto;
  padding: 15px 0px;
  overflow: hidden;
}
@media all and (max-width: 500px) {
  .cuerpo-pagina {
    height: auto;
  }
}

.seccion-noticias {
  height: 100%;
  overflow: hidden;
}
.seccion-noticias .sle2 {
  max-height: 100%;
}
.seccion-noticias .noticia img {
  width: 100%;
  height: 110px;
}
@media all and (max-width: 500px) {
  .seccion-noticias .noticia img {
    height: 200px;
  }
}
.seccion-noticias .noticia .noticia-parrafo {
  height: 150px;
  display: block;
  overflow: hidden;
}
.seccion-noticias .btn-noticia {
  background-color: rgba(5, 31, 66, 0.801);
  color: white;
}
.seccion-noticias .btn-noticia:hover {
  background-color: rgba(5, 31, 66, 0.925);
}

.seccion-noticias .btn-comunicado {
  background-color: rgba(5, 31, 66, 0.801);
  color: white;
}
.seccion-noticias .btn-comunicado:hover {
  background-color: rgba(5, 31, 66, 0.925);
}
.seccion-noticias .comunicados img {
  width: 100%;
  height: 250px;
}
@media all and (max-width: 500px) {
  .seccion-noticias .comunicados img {
    height: 200px;
  }
}
.seccion-noticias .comunicados .noticia-parrafo {
  height: 150px;
  display: block;
  overflow: hidden;
}

.seccion-avisos {
  width: 100%;
  background-color: whitesmoke;
  overflow: hidden;
  padding: 30px 0px;
}
.seccion-avisos a {
  text-decoration: none;
}
.seccion-avisos a .material-icons {
  font-size: 150px;
  color: rgba(5, 31, 66, 0.801);
}
.seccion-avisos a .texto-a {
  font-size: 20px;
  color: #ca8a08;
}

.redes-social {
  display: flex;
  justify-content: center;
}
.redes-social iframe {
  padding: 0px auto;
}

.seccion-footer {
  background-color: rgba(5, 31, 66, 0.925);
}
.seccion-footer .ubicacion {
  background-color: rgba(110, 20, 20, 0.335);
  border-radius: 5px;
  padding: 0px;
  height: 350px;
  overflow: hidden;
}
@media all and (max-width: 500px) {
  .seccion-footer .ubicacion {
    padding: 5px 5px;
    border-radius: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
