.contain-bank{
    position: fixed;
    background: rgba(106, 142, 35, 0.034);
    color:white;
    font-weight: bold;
    display: inline-block;
    // left: 0px;
    bottom: 30px;
    z-index: 990;
    padding: 10px 30px;

    transform: translateX(-98%);
    transition: all 1s;

    span.text{
        // background-color: #233;
        // color:white;
        // // font-weight: bold;
        // padding: 4px 5px;

        background-color: #fc8512bf;
        color: white;
        padding: 18px 12px;
        border-radius: 100px 20px;
        
    }

    label{
        position: absolute;
        top: -12px;
        right: -10px;
        background: rgba(255, 166, 0, 0.2);
        padding: 2px 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    &.active{
        transform: translateX(0px);
        background: #38479aad;
    }

    
}
@media only screen and (max-width: 600px) {
    .contain-bank {
        font-size: 0.8rem;
        bottom: 0px;
        padding: 10px 14px 10px 3px;
    }
}



// CONTAIN CEPRE
.contain-cepre{
    background: rgba(0, 0, 0, 0.247);
    position: fixed;
    top: 0px;
    left: 5%;
    width: 90%;
    max-height: 100vh;
    z-index: 995;

    // display: none;

    .contain-close{
        color:white;
        background: #38479a;
        display: inline-block;
        position: absolute;
        right: 16px;
        border-radius: 3px;
        padding: 8px 10px;
        margin-top: 13px;
        font-weight:bold;
        font-size: .9em;
        z-index: 999;
        cursor:pointer;
    }

    .contain-img{
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 10px;
        img{
            display:block;
            object-fit: contain;
            width: 100%;
            height: 100%;

        }
    }
}

.c-anuncio-cepre{
    position: absolute;
    display: inline-block;
    top: 120px;
    left: 15px;
    background-color: #000;
    z-index: 990;
    width:140px;
    span{
        display : none;
        position: absolute;
        top:7px;
        left:80%;
        background: #38479a;
        color:white;
        font-size:.7em;
        padding: 7px 18px;
        text-align: center;
    }
    img{
        position: relative;
        width: 100%;
        cursor: pointer;
    }
    img:hover{
        // border-radius: 50%;
        box-shadow: 0 0 20px 1px rgba(0, 19, 186, 0.534);
    }
    img:hover + span{
        display: block;
    }
}