.color-primario{
    background-color: $color-primario;
    color: white;
    &:hover{
        background-color: $color-secundario;
    }   
}
.color-secundario{
    background-color: $color-secundario;
    color: white;
    &:hover{
        background-color: $color-primario;
    }   
}


.text-admision{
    color: $color-txt-adm;
    font-weight: bold;
}
.text-admision2{
    color: $color-txt-adm2;
}

.text-admision3{
    color:#82431A;
    font-weight: bolder;
    font-style: unset;
}

.text-admision4{
    color:#847FB5;
    font-weight: bold;

}