
.seccion-avisos{
    width: 100%;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 30px 0px;

    a{
        text-decoration: none;

        .material-icons{
            font-size: 150px;
            color: $color-primario;
        }
        .texto-a{
            font-size: 20px;
            color: $color-secundario;
        }
    }



}