$h-seccion : 160px;
$img-h-seccion : 150px;
$img-w-seccion : 150px;

.seccion-carreras{
    background-color: whitesmoke;
    overflow: hidden;
    @media all and ( max-width:500px){
        display:block;
    }

    .sle-carrera{
        position: relative;
        height: $h-seccion;
        // width: 100vw;
        overflow: hidden;
        .img-a{     
            border: none;
            border-radius: 8px;       
            background-color: rgba(178, 210, 246, 0.144);
            // width: 170px;
            // padding: 30px;
            height: $h-seccion;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: $img-h-seccion ;
                width: $img-h-seccion ;
                transition: all .5s;
            }

            &:hover{
                .img-ani1{
                    transform: rotateZ(360deg);                    
                }
                .img-ani2{
                    transform: rotateX(360deg);                    
                }
                .img-ani3{
                    transform: rotateY(360deg);                    
                }
            }
        }

        
    }
}