.cuerpo-pagina{
    display: block;
    position: relative;
    // height: 80vh;
    height: auto;
    padding: 15px 0px;
    
    overflow: hidden;

    @media all and (max-width:500px){
        height: auto;
    }
}

.seccion-cuerpo{
    background: $color-primario1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, white, whitesmoke);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, white, whitesmoke); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}