
//sección noticia
.seccion-noticias{
    height: 100%;
    overflow: hidden;
    .sle2{
        max-height: 100%;
        // background-color: tomato;
    }
    .noticia{
        img{
            width: 100%;
            height: 110px;
            @media all and ( max-width:500px ){
                height: 200px;
            }
        }
        .noticia-parrafo{
            height: 150px;
            display: block;
            overflow: hidden;
            // background-color: cyan;
        }
    }

    .btn-noticia {
        background-color: $color-primario;
        color:white;
        &:hover{
            background-color: $c-nav-fondo-secundario;
        }
    }

}