$h-slider : 90vh;
$w-slider : 100vw;

$movil-h-silde : 60vh;
$movil-w-silde : 100vw;

$hover-color-fondo: #8241198a;//rgba(54, 36, 1, 0.404)
$movil-hover-color-fondo : rgba(80, 23, 23, 0.801);

.slider{
    overflow: hidden;
    display: block;
    position: relative;

    @media all and ( max-width:500px ){
        height: $movil-h-silde;
        transform: translateY(0px); //ESTO MINIMIZA EL ESPACIO INFERIOR QUE QUEDA SIN CUBRIR

        img{
            height: $movil-h-silde ;
            width: $movil-w-silde ;

            max-height: $movil-h-silde ;
            min-height: $movil-h-silde ;
    
            max-width: $movil-w-silde ;
            min-width: $movil-w-silde ;
        }

        .sle{
            width: $movil-w-silde ;
            max-height: $movil-h-silde;
        }

    }
    .sle{
        width: $w-slider;
        height: $h-slider;
        overflow: hidden;
    }
    img{
        max-height: $h-slider;
        min-height: $h-slider;

        min-width: $w-slider;
        max-width: $w-slider;
    }
    .texto-slider{
        position: absolute;
        display: block;
        width: $w-slider;
        height: $h-slider;
        top: 0px;
        // left: 0px;
        background-color: $hover-color-fondo;
        background: #183050;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #82431A, transparent);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #82431A, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        color: white;
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (max-width:500px) {
            /*
            // para centrar el texto en modo resposivo
            Este valor viene dado por el vh del slider en modo responsive
            */
            background-color: $movil-hover-color-fondo;   
            height: $movil-h-silde; 
        }

    }
}