//colores generales
$color-primario : rgba(5, 31, 66, 0.801);
$color-secundario : rgb(202, 138, 8);
//colores navegacion
$c-nav-fondo-primario : rgb(202, 138, 8);
$c-nav-fondo-secundario : rgba(5, 31, 66, 0.925);
$c-nav-linea : rgba(5, 31, 66, 0.801);

$c-btn-fondo : rgba(5, 31, 66, 0.801);
$c-btn-borde : rgba(255, 166, 0, 0.246);
$c-btn-fondo-hover : rgba(5, 31, 66, 0.924);
$c-btn-borde-hover : rgba(202, 137, 8, 0.842);

$c-submenu-fondo : rgb(202, 138, 8);
$c-btn-submenu : rgba(5, 31, 66, 1);


//COLORES DE LA CINTA MENU
$c-cinta-fondo : rgb(202, 138, 8);

//SECCION ADMISION
$btn-radius : 50px;

$d-btn-radius : 10px;