//colores generales
$color-primario : rgba(5, 31, 66, 0.801); // borde-shadow , 
$color-primario1 : rgba(5, 31, 66, 0.925); // fondo-clipart , btn-hover ,
$color-primario2 : rgb(14, 49, 95); //btn-normal ,

$color-secundario : rgb(202, 138, 8);
$color-secundario1 : rgba(255, 166, 0, 0.246);
$color-secundario2 : rgba(202, 137, 8, 0.842);

$color-terciario : rgba(255, 255, 255, 0.965);
$color-terciario1 : rgba(237, 238, 238, 0.965); // fondo-cabecera , menu-bar , 
$color-terciario3 : rgba(237, 238, 238, 0.472); //btn-borde-normal ,
$color-terciario4 : rgba(237, 238, 238, 0.698); //btn-borde-hover , fondo-submenu

//colores navegacion
$c-nav-fondo-primario : rgb(202, 138, 8);
$c-nav-fondo-secundario : rgba(5, 31, 66, 0.925);
$c-nav-linea : rgba(5, 31, 66, 0.801);

$c-btn-fondo : rgba(5, 31, 66, 0.801);
$c-btn-borde : rgba(255, 166, 0, 0.246);
$c-btn-fondo-hover : rgba(5, 31, 66, 0.924);
$c-btn-borde-hover : rgba(202, 137, 8, 0.842);

$c-submenu-fondo : rgb(202, 138, 8);
$c-btn-submenu : rgba(5, 31, 66, 1);


//COLORES DE LA CINTA MENU
$c-cinta-fondo : rgb(202, 138, 8);

//SECCION ADMISION
$btn-radius : 50px;

$d-btn-radius : 10px;

$c-fondo-opaco: rgba(202, 137, 8, 0.356);